/* common */
body {
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
  color: #2b2a27;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #2b2a27;
}

ul {
  list-style: none;
}


/* main */
.flex {
  display: flex;
}

.image {
  width: 50%;
}

.image img {
  height: 700px;
  object-fit: cover;
  vertical-align: bottom;
}

.text {
  width: 50%;
  /* marginだとページが広がる */
  /* margin: 40px 5% 0; */
  padding: 40px 5% 0;
}

.text h1 {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.text .list-title {
  font-size: 1.25rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin: 40px 0 15px;
}

.text dl {
  display: flex;
  flex-wrap: wrap;
}

.text dl dt {
  width: 85%;
  border-bottom: 1px dotted #ccc;
  padding: 6px 0;
}

.text dl dd {
  width: 15%;
  border-bottom: 1px dotted #ccc;
  padding: 6px 0;
  text-align: right;
}

.text ol li {
  border-bottom: 1px dotted #ccc;
  padding: 6px 0;
  margin-left: 20px;
}

.btn {
  margin: 60px 0 60px;
  text-align: center;
}

.btn a {
  display: inline-block;
  padding: 18px 60px;
  border: solid 1px #2b2a27;
  text-decoration: none;
  font-size: .875;
}


/* footer */
#footer {
  font-size: .75rem;
  padding: 20px 0;
}

#footer .sns {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#footer .sns li {
  margin: 0 10px;
}

#footer p {
  text-align: center;
}


/* sp */
@media screen and (max-width: 834px) {
  /* main */
  .flex {
    flex-direction: column;
  }

  .image {
    width: 100%;
  }

  .image img {
    height: auto;
  }

  .text {
    width: 100%;
  }
}